@import "bootstrap"; 

.clear {
	clear: both;
}

.circle {
	font-weight: bold;
	font-style: italic;
	position: relative;
	border-radius: 100%;
	background: #f7f7f7;
	border: 1px solid #f7f7f7;
	width: 80px;
	height: 80px;
	margin: 10px 10px;
	text-align: center;
	color: #fff;
	font-size: 10px;
	line-height: 16px;
	cursor: pointer;
	transform: rotate(11deg);
	-ms-transform: rotate(11deg);
	-webkit-transform: rotate(11deg);
	color: black;
}

body {
	background: image_url('repeated-square.png');
}
.slogan {
 	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
 	font-style: italic;
 	padding-top: 26px;
 	color: white;

}

.links {
 	padding-top: 26px;
 }

.links a {
	color: white;
	font-size: 25px;
	border-bottom: 0px solid #dfdfdf;
	font-weight: bold;
}

header {
	border-top: 2px solid #222222;
	background-color: black;
}

hr {
	clear: both;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: -1.5px;
}

h2 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: -1.5px;
}

.logo:hover {
	text-decoration: none;
}

.about {
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

@media (max-width: 750px) {
	.footer-blurp {
		text-align: left;
	}
}

.modal {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}